#poster4D{
	background-image:url('../img/thumb.png');
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: top;	
}


.triggerSequence{
	padding: 8px;
	font-family: Sans-serif;
	color: #fff;
	text-decoration: none;
	margin: 8px;
	transition:ease 250ms;
	-webkit-transition:ease 250ms;
	-moz-transition:ease 250ms;
	position: absolute;
	top: 40%;
	z-index: 3;
}

/* .triggerSequence:hover{
	background: #576178;
	color: #fff;
	border: 1px solid #777;
} */

.questions{
	background: #2b303b;
	padding: 8px;
	font-family: Sans-serif;
	color: #fff;
	text-decoration: none;
	border: 1px solid #000;
	margin: 8px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	transition:ease 250ms;
	-webkit-transition:ease 250ms;
	-moz-transition:ease 250ms;
}

.questions:hover{
	background: #576178;
	color: #fff;
	border: 1px solid #777;
	cursor: pointer;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(6, 255, 1, .3);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(6, 255, 1, .1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(6, 255, 1, 0);
  }
}

.button-pulse{
  color: black;
  border: none;
  background: rgba(6, 255, 1);
  position: absolute;
  right: 15px;
  bottom: 8%;
  padding: 10px 15px;
  z-index: 2;
  animation: shadow-pulse 1s infinite;
}

.button-submit{
	color: black;
	border: none;
	background: rgba(6, 255, 1);
	padding: 10px 25px;
}

label, p {
  color: white;
}

#container {
  position: relative;
  padding: 20px;
  height: 100vh;
}
#drawer {
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: hidden;
  height: 100%;
}
#drawer > div {
  height: 100%;
  float: left;
}

#drawer-content {
  z-index: 3;
  width: 300px;
  margin-right: -300px; 
  padding: 30% 10%;
  background: #1a1e25;
  height: 100%;
}