/* Element limiting the webplayer's dimensions and its location on the page 
** No references in JS files  */
#wrapper4D{
	position:relative;
	/* width:720px; */
	/* height:404px; */
	/* display:none; */
	/* overflow:hidden; */
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow:0px 0px 6px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.5);
	width: 100%;
}

#sizer4D{
	width:100%;
	padding-bottom:56.75%;
	height:0px;
}

#waiter4D{
	width: 100%;
	height: 100%;
	background-color: #2b303b;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

#optionsFrame4D {
	padding: 8px;
	position: relative;
	color: #fff;
	display: inline-block;
	font-family: Sans-serif;
	text-decoration: none;
	/* cursor:pointer; */
	/* width: 100%; */
	box-sizing: border-box;
	margin:auto;
	width:auto;
	text-align:left;
}
#optionsFrameMenu4D{
	display:block;
	/* position:absolute; */
	width: auto;
	/* background: #576178; */
	height: auto;
	/* left: 0; */
	/* top: 26px; */
	z-index: 0;
	/* padding: 32px 16px; */
	text-align:left;
	/* min-width: 256px; */
	width:100%;
}
#optionsFrame4D.active #optionsFrameMenu4D{
	display:block;
}

#logo4D{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#logo4D_statusbar{
	display: block;
	border: 1px solid rgba(255,255,255,0.75);
	height: 4px;
	width: 80px;
	margin: 16px auto 0px auto;
}

#logo4D_progress{
	display: block;
	background-color:#0ac6bd;
	height: 4px;
	width: 5%;
}
#logo4D_text{
	margin: auto;
	text-align: center;
	padding-top: 2px;
	font-family: Sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	animation: flash 1s linear 1s infinite alternate-reverse;
}
#logo4D_svg{
	margin: auto;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,-100%);
	width:42px;
	height:34.501px;
}

#logo4D_path{
	stroke: #fff;
	stroke-dasharray:47;
	stroke-dashoffset: -50;
	animation: logo_waiter 2s linear 1s infinite normal;
}

@keyframes logo_waiter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flash {
  to{
	color: rgba(255,255,255,1);
  }
}

/* Element fixing the webplayer's format size (using percent on padding and 0px height), and its background
** References in viewer.js  */
#container4D{
	position:absolute;
	width:100%;
	height:100%;
	/* height:0px; */
	/* padding-bottom:56%; */
	margin-bottom:16px;
	background-image:url('/js/fdvWebplayer/img/background.jpg');
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: top left;
	z-index:1;
	z-index: 1;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: 0px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	overflow:hidden;
}

#canvas4D{
	width:100% !important;
	height:100% !important;
}

/* The webplayer's controls menu, including the progress bar
** References in playerUI.js  */
#menu4D {
	display:none; /* appears with JS, on LoadSequence() */
	position:absolute;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	width:100%;
	max-height:42px;
	min-height:34px;
	text-align:left;
	z-index:2;
	border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
}

#menu4D_right {
	float:right;
	max-height:34px;
	height:34px;
	margin: 0px 8px;
	color:rgba(255,255,255,0.9);
	cursor:initial;
	font-size:16px;
	font-family: Sans-serif;
	vertical-align:middle;
}

#options4D {
	position: relative;
	display: inline-block;
	font-family: Sans-serif;
	cursor: pointer;
	box-sizing: border-box;
	width: auto;
	vertical-align: middle;
	margin: 7px 16px;
}

.options4D_title {
	font-family: Sans-serif;
    color: #fff;
    font-weight: 900;
    margin: 3px 0px 20px 0px;
    box-sizing: border-box;
}

.options4D_item {
	color:#fff;
	font-family: Sans-serif;
	margin:8px 0px;
	font-size: 14px;
	cursor:pointer;
}

.options4D_toggle {
	display:inline-block;
	width:22px;
	height:8px;
	border:1px solid #fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#b4b4b4;
	position:relative;
	float:right;
	cursor:pointer;
	margin-top: 4px;
	transition:ease 250ms;
	box-sizing: content-box;
}

.options4D_toggle_btn{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:0px;
	height:0px;
	border:4px solid #888;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	transition:ease 250ms;
}

.options4D_item.active .options4D_toggle {
	background-color:#cfa1c5;
}
.options4D_item.active .options4D_toggle_btn {
	left:14px;
	border:4px solid #a84191;
}

#options4D_frame {
	position:absolute;
	display:block;
	right:-168px;
	bottom:42px;
	width:168px;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	font-family: Sans-serif;
	z-index:10;
	padding: 50px 10px 8px 10px;
    box-sizing: border-box;
	border-radius: 8px 0px 0px 0px;
	-moz-border-radius: 8px 0px 0px 0px;
	-webkit-border-radius: 8px 0px 0px 0px;
	transition:250ms ease;
	-webkit-transition:250ms ease;
	-moz-transition:250ms ease;
}

.options4D_list {
	text-align:left;
}
.options4D_toggle {
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
}
#options4D_close {
	float:right;
	margin-right:-6px;
	cursor:pointer;
}

#options4D_frame_mobile{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.75);
	border-radius: 8px;
	box-sizing: border-box;
	padding: 16px;
	display:none;
}
#options4D_frame_mobile .options4D_title {
	font-size:28px;
}

#options4D_frame_mobile #options4D_frame_mobile_close {
	display: block;
	background-image:url('../img/close_w_218p.png');
	height: 32px;
	width: 32px;
	position: absolute;
	right: 16px;
	top: 16px;
	cursor:pointer;
	background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
}
#options4D_frame_mobile .options4D_list {
	text-align:center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#options4D_frame_mobile .options4D_item {
	width: 156px;
	height: 156px;
	background:transparent;
	display: inline-block;
	margin:16px;
	background-size:contain;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-ms-background-size:contain;
	-o-background-size:contain;
	font-size:0px;
}
#options4D_frame_mobile .options4D_toggle {
	display:none;
}

#options4D_frame_mobile .options4D_camera.active {
	background-image:url('../img/autorotate_on.png');}
#options4D_frame_mobile .options4D_camera {
	background-image:url('../img/autorotate_off.png');}
#options4D_frame_mobile .options4D_texture.active {
	background-image:url('../img/texture_on.png');}
#options4D_frame_mobile .options4D_texture {
	background-image:url('../img/texture_off.png');}
#options4D_frame_mobile .options4D_background.active {
	background-image:url('../img/background_dark.png');}
#options4D_frame_mobile .options4D_background {
	background-image:url('../img/background_light.png');}
	
#fullscreen4D {
	position: relative;
	display: inline-block;
	font-family: Sans-serif;
	cursor: pointer;
	box-sizing: border-box;
	width: auto;
	vertical-align: middle;
	margin: 7px 8px;
}

/* The webplayer's playback progress bar wrapper
** No references in JS files  */
#timeline4D_wrapper {
	position:relative;
	max-width:100%;
	min-width:120px;
	height:8px;
	background-color:rgba(255,255,255,0.15);
	cursor:crosshair;
}

/* The webplayer's playback progress bar
** References in player4D.js  */
#timeline4D_progress {
	position:absolute;
	top:0;
	left:0;
	height:8px;
	width:0%;
	background-color:#0ac6bd;
}

/* The webplayer's control elements wrapper
** No references in JS files  */
#controls4D {
	position:relative;
	width:100%;
	height:34px;
	text-align:left;
	color:rgba(255,255,255,0.9);
}

/* Button to play/pause the volumetric video playback
** Image element
** References in playerUI.js  */
#pause4D {
	display:inline-block;
	position:relative;
	vertical-align: middle;
	cursor:pointer;
	margin:7px 4px;
}

/* Wrapper element for the mute/unmute button and the audio level slider
** References in playerUI.js  */
#volume4D{
	display:inline-block;
	position:relative;
	vertical-align: middle;
	cursor:initial;
	margin:7px 4px;
}

/* Button to mute/unmute the audio and indicate the audio level (low/med/high)
** References in playerUI.js  */
#volume4D_icon{
	display:inline-block;
	cursor:pointer;
	vertical-align:top;
}

/* Wrapper of the slider input element for controlling audio level
** Image element
** No references in JS files  */
#volume4D_slider{
	display: inline-block;
	position:relative;
	height:4px;
	width:80px;
	border:1px solid #fff;
	margin-left:12px;
	vertical-align: middle;
	opacity:0.5;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	transition:all 250ms ease;
	-webkit-transition:all 250ms ease;
	-moz-transition:all 250ms ease;
	-o-transition:all 250ms ease;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
}
#volume4D_slider:hover{
	opacity:1;
}

/* Slider input element to control the audio level, invisible but functionning
** References in playerUI.js  */
#volume4D_level{
	position:absolute;
	opacity:0;
	background-color:rgba(0,0,0,0);
	outline: none;
	width: 80px;
	height:18px;
	top:-9px;
	left:0px;
	vertical-align: middle;
	z-index:3;
	cursor:pointer;
}
/* Slider thumb for the size of the draggable area
** No references in JS files  */
#volume4D_level::-webkit-slider-thumb, #volume4D_level::-moz-range-thumb, #volume4D_level::-ms-thumb {
  width: 8px;
  height: 18px;
  cursor: pointer;
  z-index:3;
}

/* Element to indicate the audio volume
** References in playerUI.js  */
#volume4D_range{
	display:block;
	position:absolute;
	height:4px;
	width:0%;
	background-color:#b4b4b4;
	z-index: 1;
}

/* Element to control the audio volume
** No references in JS files  */
#volume4D_thumb{
	position:absolute;
	top:-3px;
	right:-9px;
	width:10px;
	height:10px;
	background-color:rgba(255,255,255,1);
	z-index:2;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

/* The volumetric video current frame
** References in player4D.js  */
#frame4D {
	display:inline-block;
	/* position:absolute; */
	/* top:6px; */
	/* right:0px; */
	/* max-height:34px; */
	/* height:34px; */
	margin: 0px 8px 0px 16px;
	color:rgba(255,255,255,0.9);
	cursor:initial;
	font-size:16px;
	font-family: Sans-serif;
	vertical-align:middle;
}
@media screen and (min-width: 821px){
	#wrapper4D.menu-opened #options4D_frame {
		right:0px;
	}
	#wrapper4D.menu-opened #options4D_frame_mobile {
		display:none;
	}
}

@media screen and (max-width: 820px){
	#wrapper4D.menu-opened #options4D_frame {
		right:-168px;
	}
	#wrapper4D.menu-opened #options4D_frame_mobile {
		display:block;
	}
}

@media screen and (max-width: 600px){
	#options4D_frame_mobile .options4D_item {
		width: 108px;
		height: 108px;
	}
}

@media screen and (max-width: 426px){
	#options4D_frame_mobile .options4D_item {
		width: 56px;
		height: 56px;
	}
}